<h2>Approve Applications</h2>

<section>
  <%= @app.pets.each do |p| %>
    <div id='pet-<%= p.id %>'>
      <strong><%= p.name %></strong>
      <% if p.is_approved_on(@app.id) %>
        <p>✓</p>
      <% else %>
        <%= button_to "Approve Adoption", "/admins/applications/#{@app.id}?pet_id=#{p.id}", method: :patch, id: "approve-#{p.id}" %>
      <% end %>
    <% end %>
</section>
