
<section id="pending" class="p-4 border border-3 border-secondary bg-warning rounded">
  <h3>Shelters with Outstanding Applications</h3>  
  <ul>
    <% @shelters_with_apps.each do |s| %>
      <li><h4><%= link_to s.name, "/admins/shelters/#{s.id}" %></h4></li><br>
    <% end %>
  </ul>
</section>

<section id="index">
  <h3>All Shelters in Our Network</h3><br>
  <ul>
  <% @shelters.each do |s| %>
    <li><h4><%= link_to s.name, "/admins/shelters/#{s.id}" %></h4></li><br>
  <% end %>
  </ul>
</section>
