
<section id="pending">
  <h3>Attention! These Shelters have Pet Applications that need Reviewed:</h3>  
  <%= @shelters_with_apps.each do |s| %>
    <%= link_to s.name, "/admins/shelters/#{s.id}" %><br>
  <% end %>
</section>

<section id="index">
  <strong>All Shelters in Our Network</strong><br>
  <%= @shelters.each do |s| %>
    <%= link_to s.name, "/admins/shelters/#{s.id}" %><br>
  <% end %>
</section>
